In [1]:
# import packages
import pandas as pd

In [18]:
df = pd.read_csv('UCD_aggregation_all_races_data_input.csv').drop(columns=["Unnamed: 0"])
df = df.rename(columns={"variable": "race"})

df.columns = df.columns.str.lower()
df = df[df['year']!= 2020]
df = df.drop('student_level', axis = 1)

In [101]:
# merging the columns we dont need
df_1 = df.groupby(['year','race','first_gen_status',
                'enrollment_status', 'gender', 'residency'], as_index=False)['count'].sum()

In [105]:
df_2 = df.groupby(['year','first_gen_status',
                'enrollment_status', 'gender', 'residency'], as_index=False)['count'].sum()
df_2

     year first_gen_status enrollment_status gender residency   count
0    2000            first              cont    fem     CARes  2268.0
1    2000            first              cont    fem       int    23.0
2    2000            first              cont    fem   nDomRes    32.0
3    2000            first              cont   male     CARes  1515.0
4    2000            first              cont   male       int    27.0
..    ...              ...               ...    ...       ...     ...
475  2019           nFirst               new    fem       int   344.0
476  2019           nFirst               new    fem   nDomRes   235.0
477  2019           nFirst               new   male     CARes  1964.0
478  2019           nFirst               new   male       int   409.0
479  2019           nFirst               new   male   nDomRes   151.0

[480 rows x 6 columns]

In [86]:
df_1.head()
race_list = df_1['race'].unique()

In [83]:
fg_pivot = df_1.pivot_table(index='year', columns=['race','first_gen_status','enrollment_status','gender','residency'], values='count', aggfunc='sum')
fg_pivot['Afghan']['first']['cont']['fem']['int'][2019]

1.0

In [63]:
fg_pivot.tail(5)

race              Afghan                                                      \
first_gen_status   first
enrollment_status   cont                              new
gender               fem               male           fem               male
residency          CARes  int nDomRes CARes nDomRes CARes  int nDomRes CARes
year
2015                48.0  0.0     0.0  23.0     0.0  26.0  0.0     0.0  13.0
2016                68.0  1.0     2.0  26.0     1.0  30.0  1.0     1.0  13.0
2017                66.0  1.0     0.0  33.0     2.0  19.0  0.0     0.0  16.0
2018                70.0  1.0     1.0  39.0     1.0  22.0  0.0     1.0  13.0
2019                72.0  1.0     1.0  47.0     0.0  23.0  0.0     0.0  21.0

race                       ...  Yemeni                                     \
first_gen_status           ...   first                     nFirst
enrollment_status          ...    cont   new                 cont
gender                     ...    male   fem  male            fem
residency         nDomRes  ... nDomRes CARes CARes nDomRes  CARes nDomRes
year                       ...
2015                  0.0  ...     0.0   2.0   5.0     0.0    2.0     0.0
2016                  1.0  ...     0.0   6.0   4.0     0.0    2.0     1.0
2017                  2.0  ...     0.0   1.0   2.0     0.0    4.0     1.0
2018                  0.0  ...     1.0   2.0   2.0     1.0    5.0     1.0
2019                  0.0  ...     1.0   3.0   4.0     0.0    4.0     1.0

race
first_gen_status
enrollment_status         new
gender             male   fem          male
residency         CARes CARes nDomRes CARes
year
2015                5.0   2.0     0.0   4.0
2016                6.0   0.0     1.0   2.0
2017                6.0   3.0     0.0   2.0
2018                6.0   2.0     0.0   1.0
2019                5.0   0.0     0.0   2.0

[5 rows x 1240 columns]

In [107]:
df_2 = df_2.drop(['count'], axis = 1)

df_dummy = pd.get_dummies(df_2, columns=['first_gen_status', 'enrollment_status','gender','residency'])
# initialize 

for r in race_list:
    df_dummy[r] = 0

df_dummy

,year,first_gen_status_first,first_gen_status_nFirst,enrollment_status_cont,enrollment_status_new,gender_fem,gender_male,residency_CARes,residency_int,residency_nDomRes,...,Taiwanese,Thai,Tongan,Tunisian,Turkish,Vietnamese,White/Caucasian,White/Middle Eastern,White/North African,Yemeni
0,2000,1,0,1,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2000,1,0,1,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,2000,1,0,1,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,2000,1,0,1,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2000,1,0,1,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,2019,0,1,0,1,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
476,2019,0,1,0,1,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
477,2019,0,1,0,1,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
478,2019,0,1,0,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
479,2019,0,1,0,1,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [108]:
# make dummy vars
for (race, fg, enroll, gender, res) in fg_pivot.columns:
    
    # df_dummy[race] = 0 # initialize the col
    # for each year 
    dum_fg = "first_gen_status_" + fg
    dum_enroll = "enrollment_status_" + enroll
    dum_gender = "gender_" + gender
    dum_res = "residency_" + res
    
    for i in fg_pivot.index:
        df_dummy.loc[(df_dummy["year"] == i) & (df_dummy[dum_fg] == 1) & (df_dummy[dum_enroll] == 1) & (df_dummy[dum_gender] == 1) & (df_dummy[dum_res] == 1), race] = fg_pivot[race][fg][enroll][gender][res][i]

In [109]:
df_dummy

,year,first_gen_status_first,first_gen_status_nFirst,enrollment_status_cont,enrollment_status_new,gender_fem,gender_male,residency_CARes,residency_int,residency_nDomRes,...,Taiwanese,Thai,Tongan,Tunisian,Turkish,Vietnamese,White/Caucasian,White/Middle Eastern,White/North African,Yemeni
0,2000,1,0,1,0,1,0,1,0,0,...,0,0,0,0,0,224,750,0,0,0
1,2000,1,0,1,0,1,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
2,2000,1,0,1,0,1,0,0,0,1,...,0,0,0,0,0,6,12,0,0,0
3,2000,1,0,1,0,0,1,1,0,0,...,0,0,0,0,0,163,488,0,0,0
4,2000,1,0,1,0,0,1,0,1,0,...,0,0,0,0,0,1,4,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,2019,0,1,0,1,1,0,0,1,0,...,18,3,0,0,1,2,8,0,0,0
476,2019,0,1,0,1,1,0,0,0,1,...,9,4,0,0,2,3,82,0,0,0
477,2019,0,1,0,1,0,1,1,0,0,...,51,5,1,0,2,75,719,0,0,2
478,2019,0,1,0,1,0,1,0,1,0,...,17,1,0,0,1,4,11,0,0,0
479,2019,0,1,0,1,0,1,0,0,1,...,9,2,0,0,1,2,40,0,0,0

In [110]:
df_dummy.to_csv('sequential_aggregation_input_2000_2019.csv')